.product-box__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: $color-secondary;
  }
  
  .product-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
  }
  
  .product-box__content {
    margin-top: 48px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (360px)[auto-fit];
    grid-template-columns: repeat(auto-fit, 360px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
  }
  
  .product {
    position: relative;
  }
  
  .product:hover .product__img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
  }
  
  .product:hover .product__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .product__img {
    width: 100%;
  
  
  
  
  }
  
  .product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
  }
  
  .product__add:hover {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
  }
  
  .product__add:hover svg path {
    fill: $color-primary;
  }
  
  .product__content {
    background: $color-background;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
  }
  
  .product__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $color-text;
  }
  
  .product__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }
  
  .product__price {
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-base;
    line-height: 19px;
    color: $color-primary;
  }


  