.cart__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 145px;
    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
      gap: 79px;
    }
    @media (min-width: 375px) and (max-width: 425px) {
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 57px;
  }
}

  .cart__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart__list-item {
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    display: flex;
    margin: 0 0 40px 0;
  }
  
  .cart__list-wrapper {
    display: flex;
    flex-direction: column;
    width: 390px;
    padding: 22px 0 0 30px;
    background-color: #FFFFFF;
    position: relative;
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 472px
    }
    @media (min-width: 375px) and (max-width: 425px) {
      width:fit-content;
      }
    }

    
  
  
  .cart__list-heading {
    font-size: 1.5rem;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #222224;
    max-width: 200px;
    margin: 0 0 42px 0;
    @media (min-width: 375px) and (max-width: 425px) {
      font-size: 1rem;
    }
  }
  
  .cart__list-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #575757;
    margin: 0 0 6px 0;
    @media (min-width: 375px) and (max-width: 425px) {
      font-size: 1rem;
      margin: 0;
      line-height: normal;
    }
  }
  
  
  
  .cart__list-qty {
    width: 29px;
    height: 18px;
    margin: 0 0 4px 25px;
    border: 1px solid #E8E8E8;
    padding: 0 0 0 8px;
  }
  
  .cart__list-buttons {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-button {
      width: 234px;
      height: 49px;
      border: 1px solid #A4A4A4;
      font-size: 14px;
      line-height: 17px;
      font-weight: 300;
      font-style: normal;
      text-transform: uppercase;
      background-color: #FFFFFF;
      color: #A4A4A4;
      transition-property: background-color, color, border;
      transition-duration: 300ms;
    }
    &-button:hover{
      @extend %hower-button;
    }
  
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .cart__list-buttons {
      justify-content: space-around;
    }
  }


 
  
  
  
  .cart__total {
    width: 360px;
    height: 214px;
    background-color: #F5F3F3;
    margin: 57px 0 0 0;
    display: flex;
    flex-direction: column;
    &-text{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 40px 30px 0 0;
      &-subtotal {
        font-size: 11px;
        line-height: 13px;
        font-weight: 300;
        font-style: normal;
        color: #A4A4A4;
        text-transform: uppercase;
      }
      &-grand {
        font-size: 1rem;
        line-height: 19px;
        font-weight: 300;
        font-style: normal;
        color: #222224;
        text-transform: uppercase;
        margin: 12px 0 0 0;
      }
      }
  
    }


    @media (min-width: 768px) and (max-width: 1024px) {
      .cart__total {
        margin: 50px 0px 0px 15px;
      }
    }

  


    
    
  
    .cart__total-checkout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-line {
        width: 275px;
        background-color: #E2E2E2;
        margin: 21px 0 0 0;
      }
      &-submit {
        @include submit-red-button;
        text-transform: uppercase;
      }
      &-submit:hover{
        @extend %hower-button
        
  
      }
  
  
    }
    
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .cart__shipping {
    width: 360px;
  }
  .cart__shipping_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: row;
    }
  }
  
  .cart__shipping_button {
    width: 100px;
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
    font-style: normal;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    transition-property: background-color, color, border;
    transition-duration: 300ms;
  }
  .cart__shipping_button:hover {
    @extend %hower-button;
  }
  .cart__shipping_heading {
    font-size: 1rem;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    color: #222224;
    text-transform: uppercase;
    padding: 13px 0 20px 0;
  }
  
  .cart__shipping_input {
    width: 340px;
    height: 45px;
    margin: 0 0 20px 0;
    padding: 0 0 0 17px;
  }
  
  .cart__shipping_input ::-webkit-input-placeholder {
    color: #B1B1B1;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
  }
  
  .cart__shipping_input ::-moz-placeholder {
    /* Firefox 19+ */
    color: #B1B1B1;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
  }
  
  .cart__shipping_input :-ms-input-placeholder {
    color: #B1B1B1;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
  }
  
  .cart__shipping_input :-moz-placeholder {
    /* Firefox 18- */
    color: #B1B1B1;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  .cart {
    display: flex;
    text-align: start;
    @media (min-width: 375px) and (max-width: 425px){
      margin: 39px 8px 0; ;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .cart {
      flex-direction: column;
    }
  }
  
  
  
  
  .main{
    position: relative;
  }
  .main__overlay {
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    display: none;
  }
  
  .cart__list-pink{
    color: $price-color;
  }


  // .cart__list-img {
  //   background-color: #F3EEEF;
  //   display: flex;
  //   width: 262px;
  //   height: 306px;
  //   justify-content: center;
  // }


  .cart__list-img {
    background-color: #F3EEEF;
    display: flex;
    width: 262px;
    height: 306px;
    justify-content: center;
    @media (min-width: 375px) and (max-width: 425px) {
      width: 144px;
      height: 188px;
;
    }

}

.cart__list-img img {
    max-width: 100%; /* Картинка будет подстраиваться под ширину блока */
    height: 100%; /* Автоматически подстраивает высоту, чтобы сохранить пропорции */
    
   
    
}

  .cart-with-button{
    display: flex;
    flex-direction: column;
  }


  .cart__list-buttons-button {
    width: 234px;
    height: 49px;
    border: 1px solid #A4A4A4;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #A4A4A4;
    transition-property: background-color, color, border;
    transition-duration: 300ms;
    @media (min-width: 375px) and (max-width: 425px){
      width: fit-content;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .cart__list-buttons {
      justify-content: space-around;
    }
  }

  