.cart__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0 128px 0;
  }
  
  .cart__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart__list-item {
    width: 100%;
    max-height: 306px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    display: flex;
    margin: 0 0 40px 0;
  }
  
  .cart__list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 390px;
    min-height: 306px;
    padding: 22px 30px 0 30px;
    background-color: #FFFFFF;
    position: relative;
    
  }
  
  .cart__list-heading {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #222224;
    max-width: 200px;
    margin: 0 0 42px 0;
  }
  
  .cart__list-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #575757;
    margin: 0 0 6px 0;
  }
  
  
  
  .cart__list-qty {
    width: 29px;
    height: 18px;
    margin: 0 0 4px 25px;
    border: 1px solid #E8E8E8;
    padding: 0 0 0 8px;
  }
  
  .cart__list-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-button {
      width: 234px;
      height: 49px;
      border: 1px solid #A4A4A4;
      font-size: 14px;
      line-height: 17px;
      font-weight: 300;
      font-style: normal;
      text-transform: uppercase;
      background-color: #FFFFFF;
      color: #A4A4A4;
      transition-property: background-color, color, border;
      transition-duration: 300ms;
    }
    &-button:hover{
      @extend %hower-button;
    }
  
  }
  
  
  
  .cart__total {
    width: 360px;
    height: 214px;
    background-color: #F5F3F3;
    margin: 57px 0 0 0;
    display: flex;
    flex-direction: column;
    &-text{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 40px 30px 0 0;
      &-subtotal {
        font-size: 11px;
        line-height: 13px;
        font-weight: 300;
        font-style: normal;
        color: #A4A4A4;
        text-transform: uppercase;
      }
      &-grand {
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        font-style: normal;
        color: #222224;
        text-transform: uppercase;
        margin: 12px 0 0 0;
      }
      }
  
    }
  
    .cart__total-checkout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-line {
        width: 275px;
        background-color: #E2E2E2;
        margin: 21px 0 0 0;
      }
      &-submit {
        @include submit-red-button;
        text-transform: uppercase;
      }
      &-submit:hover{
        @extend %hower-button
        
  
      }
  
  
    }
    
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .cart__shipping {
    width: 360px;
  }
  .cart__shipping_wrapper {
    margin: 96px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .cart__shipping_button {
    width: 100px;
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
    font-style: normal;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    transition-property: background-color, color, border;
    transition-duration: 300ms;
  }
  .cart__shipping_button:hover {
    @extend %hower-button;
  }
  .cart__shipping_heading {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    color: #222224;
    text-transform: uppercase;
    padding: 13px 0 20px 0;
  }
  
  .cart__shipping_input {
    width: 340px;
    height: 45px;
    margin: 0 0 20px 0;
    padding: 0 0 0 17px;
  }
  
  .cart__shipping_input ::-webkit-input-placeholder {
    color: #B1B1B1;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
  }
  
  .cart__shipping_input ::-moz-placeholder {
    /* Firefox 19+ */
    color: #B1B1B1;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
  }
  
  .cart__shipping_input :-ms-input-placeholder {
    color: #B1B1B1;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
  }
  
  .cart__shipping_input :-moz-placeholder {
    /* Firefox 18- */
    color: #B1B1B1;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  .cart {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  
  
  
  
  .main{
    position: relative;
  }
  .main__overlay {
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    display: none;
  }
  
  .cart__list-pink{
    color: $price-color;
  }