// Миксин для центрирования элементов по вертикали и горизонтали

@mixin center {
    display: flex;
    align-items: center;
   }
  
  // Миксин для создания полноэкранного блока
  @mixin full-screen {
    width: 100%;
    height: 100vh;
  }
  
  // Миксин для создания горизонтальных отступов
  @mixin horizontal-padding($padding) {
    padding-left: $padding;
    padding-right: $padding;
  }
  
  // Миксин для создания вертикальных отступов
  @mixin vertical-padding($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
  }
  
  
  @mixin submit-red-button{
    width: 273px;
    height: 50px;
    background-color: #F16D7F;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    
    margin: 17px 0 0 0;
    border: none;
    transition-property: background-color, color, border;
    transition-duration: 300ms;

  }

  @mixin registration_text{
    font-size: 24px;
    font-style: normal;
    color: #000000;
    text-align: start;

  }
  

