.registration {
    display: flex;
    justify-content: space-around;
    text-align: start;
    flex-basis: fit-content;
    @media (min-width: 375px) and (max-width: 425px) {
      flex-direction: column;
      margin-right: 8px;
      margin-left: 8px;
    }
  }
  
  
  .registration-form__text {
    @include registration_text;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: start;
    margin-top: 6px;
    color: #9F9F9F;
  }
  
  
  .registration-text {
    max-width: 35%;
    &__heading{
        @include registration_text;
        line-height: 29px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 64px 0 0 0;
        @media (min-width: 375px) and (max-width: 425px) {
          font-size: 1rem;
        }
    }
    &__subheading{
        @include registration_text;
        line-height: 29px;
        font-weight: 300;
        margin: 22px 0 0 0;
        display: block;
        max-width: 650px;
        @media (min-width: 375px) and (max-width: 425px) {
          font-size: 1rem;
        }

    }
    &__list{
        list-style: none;
        &-item{
            @include registration_text;
            line-height: 29px;
            font-weight: 300;
            margin: 16px 0 0 43px;
            position: relative;
            @media (min-width: 375px) and (max-width: 425px) {
              font-size: 1rem;
              margin: 16px 0 0 0;
              line-height: 29px;
            }
          
              
            
        }
    }
    @media (min-width: 375px) and (max-width: 425px) {
      max-width: fit-content;
    }
  }
  
 
  
  
  .registration__fieldset {
    margin: 34px 0 0 0;
    border: none;
  }
  
  
  .registration__fieldset_radio {
    display: flex;
    justify-content: start;
    border: none;
  }
 .registration__shipping_input_radio{
  font-size: 11px;
 }
  

 .registration__shipping_heading{
    font-size: 1rem;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    color: #222224;
    padding: 13px 0 20px 0;}
  
  
  
  .registration-form__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .registration-form__submit{
    @include submit-red-button;
    margin-top: 55px;
    text-transform: uppercase;
  
  }
  
  
  .registration-form__submit:hover{
    @extend %hower-button
  
  }


  // font-size: 1rem;
  // font-style: normal;
  // color: #000000;
  // text-align: start;
  // line-height: 29px;
  // font-weight: 300;
  // margin: 16px 0 0 0;
  // position: relative;