@import 'vars';
@import 'mixins';
@import 'cart';
@import 'reg';
@import 'product';
@import 'catalog';
@import 'index';







%hower-button {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}




html {
  font-size: 16px;
}



* {
  margin: 0;
  padding: 0;
}


body {
  font-family: $font-serif;
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: $font-size-base;
  }
}


  .centered-div {
    width: 150px;
    height: 150px;
    line-height: 150px;
  }

  


img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}



.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  position: relative;
  overflow: hidden;
}


.header {
  @include center;
  background-color: $color-secondary;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 375px) and (max-width: 425px){
    padding-inline: 16px;}

  &__left{
  @include center;
  gap: 41px;
  }

  &__right{
  @include center;
  gap: 33px;
  }


}




.header__right-burger_navigation {
  display: none;
  position: absolute;
  right: 30px;
  
  top: 35px;
  min-width: 232px;
  min-height: 747px;
  background: #FFFFFF;
  border: none;
  padding: 17px 17px 0 34px;
}

.header__right-burger:hover .header__right-burger_navigation {
  display: block
}

.header__right-burger_navigation_close {
  margin: 0 0 0 210px;
  background: transparent;
  fill: #6F6E6E;
}

.header__right-burger_navigation_close:hover {
  fill: #F16D7F;
  cursor: pointer;
}

.header__right-burger_navigation_heading {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.header__right-burger_navigation_list_heading {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  margin: 24px 0 12px 0;
}

.header__right-burger_navigation_heading_link {
  text-decoration: none;
}

.header__right-burger_navigation_link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  margin: 0 0 11px 22px;
  display: block;
}

.header__right-burger_navigation_link:hover {
  color: #F16D7F;
}

.header__right-burger_navigation_heading_link:hover .header__right-burger_navigation_list_heading {
  color: #6F6E6E;
}




.head {
  @include head;
  @media (min-width: 768px) and (max-width: 1024px) {
    margin-bottom: 40px;
  }
  @media (min-width: 375px) and (max-width: 425px){
    margin-bottom: 0;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-content: center;
  }
}








.head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  color: $color-primary;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb__box-link:last-child .breadcrumb__link {
  font-weight: 700;
  color: $color-primary;
}

.breadcrumb__box-link:not(:last-child)::after {
  content: '/';
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb__link:hover {
  color: $color-primary;
}


.sort {
  display: flex;
  gap: 28px;
  align-items: center;
  margin: 65px 0 0 0;

}

.sort__details {
  position: relative;
}

.sort__summary {

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.sort__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
  width: 79px;
  padding: 7px 9px 11px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: -9px;
}



.button:hover path {
  fill: white;
}





.sub__element {
  padding: 100px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 40px;
  }
  @media (min-width: 375px) and (max-width: 425px) {
    padding: 29px;
  }

}


.footer {
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
  align-items: center;

}

.subscribe__form-group {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  max-width: 356px;
  margin: auto;
  font-weight: 400;
  height: 49px;
  
}

.subscribe__form-email {
  height: 53px;
  width: 100%;
  background-color: #E1E1E1;
  padding-left: 20px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subscribe__form-button {
  height: 53px;
  background-color: $color-accent;
  color: #ffffff;
  padding-right: 16px;
  padding-left: 20px;
  cursor: pointer;
  border:none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.subscribe__form-button:hover {
@extend %hower-button
}



.subscibe_catalog{
  @include subscribe;
  margin-top: 0;

}


.icons {

  display: flex;
  gap: 7px;
}


.icons__link {
  background-image: url(img/Rectangle_14.svg);
  background: #FFF;
  padding: 8px;
}


.subscribe{
  @include subscribe;
}
 





.button {
  border: 1px solid #F16D7F;
  min-width: 211px;
  min-height: 47px;
  background: transparent;
  margin: 49px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover{
  @extend %hower-button;
}



.img_hide{
  max-width: 100%;
  @media (min-width: 768px) and (max-width: 1024px){
    display: none;
}
@media (min-width: 375px) and (max-width: 425px){
  display: none;
}

}



.hide_block{
  @media (min-width: 375px) and (max-width: 425px){
    display: none;

}
}




























